<div class="container" #container>
    <div class="form-container sign-in-container">
      <form (submit)="changePassword($event)">
        <!-- <h1>Change Password</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div> -->
        <!-- <span>or use your account</span> -->
        <input type="email" placeholder="Email" required />
        <input type="oldpassword" placeholder="Old Password" required />
        <input type="newpassword" placeholder="New Password" required />
        <input type="cinfirmpassword" placeholder="Confirm Password" required />
        <a  [routerLink]="['../']">If you are already registered member. Click here for sign in </a>
        <button type="submit">Change password</button>
      </form>
    </div>
  
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Hey Champ !</h1>
          <p>Did you remember your password. No worries, Click Below link to sign in </p>
          <button class="ghost" (click)="signInLink()">Sign In</button>
        </div>
      </div>
    </div>
  </div>